<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <Property/>
    
  </div>
</template>

<script>
// @ is an alias to /src
import Property from '@/components/Property.vue'

export default {
  name: 'Home',
   data() {
    return {
        // properties:[],
      }
  },
  components: {
    Property,
  },
  created() {

  },
  methods: {
    
  }
  
}
</script>
