<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      For a guide and recipes on how to configure / customize this project,<br>
      check out the
      <a href="https://cli.vuejs.org" target="_blank" rel="noopener">vue-cli documentation</a>.
    </p>
    <b-container class="bv-example-row">
      <b-row>
        <b-col cols="3">Filters</b-col>
        <b-col cols="9 map-wrapper">
          <h3>Map Data View</h3>
          <div class="hello">
              <div id='map'></div>
            </div>
          <!-- <template>
            <MglMap
              :accessToken="mapboxAccessToken"
              :mapStyle.sync="mapStyle"
              :center="coordinates"
              :zoom="zoom">
              <MglMarker :coordinates="coordinates" color="blue"/>
            </MglMap>
          </template> -->
          <template>
            <div>
               <b-table striped hover :items="properties"></b-table>
            </div>
          </template>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<style>
  .map-wrapper {
    height: 450px;
  }
</style>
<script>

import mapboxgl from 'mapbox-gl';

export default {  
  props: {

  },
  components: {
    // MglMap,
    // Mapbox,
    // MglMarker
  },
  
  data() {
    return {
        mapbox:'',
        name: 'Properties Analytic',
        msg: "Properties Listing View",
        processing: false,
        mapboxAccessToken:'pk.eyJ1IjoiZGV2ZWxvcGVyNDc4IiwiYSI6ImNrODdweHY0dTAwZnEzaXFhNDNrMzJheXcifQ.a6hNuANfViu5z-DrckpAeg',
        mapStyle: "mapbox://styles/mapbox/streets-v11",
        coordinates: [-111.549668, 39.014],
        zoom: 10,
        properties:[],
        geoPropertiesData:[]
      }
  },
  updated() {
    
  },
  created() {
    this.getProperties();
  },
  mounted() {
    var vm = this
    
  },
  methods: {
    createMap() {

      mapboxgl.accessToken = this.mapboxAccessToken;
      var monument = [-77.0353, 38.8895];

      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: monument,
        zoom: 15
      });
      

      // add markers to map
      // geojson.features.forEach(function(marker) {
      $.each(this.geoPropertiesData,function(index,marker) {
    

          // create the popup
          var popup = new mapboxgl.Popup({ offset: 25 }).setText(
          'Construction on the Washington Monument began in 1848.'
          );
          
          // create DOM element for the marker
          var el = document.createElement('div');
          el.id = 'marker';
          
          // create the marker
          new mapboxgl.Marker(el)
          .setLngLat(monument)
          .setPopup(popup) // sets a popup on this marker
          .addTo(map);

          if(index ==10){
            return false
          }

      });


    },
    getProperties: function(){
      var vm = this;
      var filterData = [];
      window.axios.get('/properties/geo-data')
          .then((response) => {          
          var dataArray = response.data.data.features
          this.geoPropertiesData = dataArray;
          this.createMap();
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  }
}


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
